{% extends "base.html" %}
{% block content %}
<div id="sum_counter"></div>
<div class="eight ui buttons" id="pick-out-btn">
    <button class="ui button ">Android</button>
    <button class="ui button ">iOS</button>
    <button class="ui button ">Game</button>
    <button class="ui button ">Design</button>
    <button class="ui button ">PM</button>
    <button class="ui button ">Lab</button>
    <button class="ui button ">Web</button>
    <button class="ui button blue">All</button>
</div>
<table id="info_table" class="ui celled table striped selectable sortable">
    <thead>
    <tr>
        <th class="center aligned collapsing no-sort">序号</th>
        <th class="center aligned collapsing no-sort">姓名</th>
        <th class="center aligned collapsing">性别</th>
        <th class="center aligned collapsing">院系专业</th>
        <th class="center aligned collapsing">年级</th>
        <th class="center aligned collapsing">校区</th>
        <th class="center aligned collapsing no-sort">电话号码</th>
        <th class="center aligned collapsing no-sort">电子邮箱</th>
        <th class="center aligned collapsing">组别</th>
        <th class="center aligned three wide no-sort">个人简介</th>
        <th class="center aligned collapsing">简历</th>
        <th class="center aligned two wide">报名时间</th>
    </tr>
    </thead>
    <tbody>
    {% autoescape true %}
    {% for i in info %}
    <tr>
        <td class="center aligned">{{i['id']}}</td>
        <td class="center aligned">{{i['name']}}</td>
        <td class="center aligned">{{i['sex']}}</td>
        <td class="center aligned">{{i['major']}}</td>
        <td class="center aligned">{{i['grade']}}</td>
        <td class="center aligned">{{i['area']}}</td>
        <td class="center aligned">{{i['phone']}}</td>
        <td class="center aligned">{{i['email']}}</td>
        <td class="center aligned">{{i['team']}}</td>

        <td >
            <div class="ui accordion">
                <div class="title center aligned"><i class="dropdown icon"></i> 详细信息</div>
                <div class="content">
                    <p class="transition hidden">{{i['intro']}}</p>
                </div>
            </div>
        </td>
        {% if i['resume']==0 %}
        <td class="negative center aligned"><i class="icon close"></i>无</td>
        {% else %}
        <td class="positive center aligned"><i class="icon checkmark"></i><a href="/api/signup/getresume/{{i['name']}}">有</a></td>
        {% endif %}
        <td class="center aligned">{{i['lasttime']}}</td>
    </tr>
    {% endfor %}
    {% endautoescape %}
    </tbody>
</table>


{% endblock %}
