{% extends "base.html" %}
{% block content %}

<table class="ui celled table striped selectable sortable">
    <thead>
    <tr>
        <th class="one wide no-sort">序号</th>
        <th class="one wide no-sort">姓名</th>
        <th>性别</th>
        <th class="one wide">院系专业</th>
        <th>年级</th>
        <th class="one wide">所在校区</th>
        <th class="two wide no-sort">电话号码</th>
        <th class="two wide no-sort">电子邮箱</th>
        <th class="one wide">组别</th>
        <th class="three wide no-sort">个人简介</th>
        <th>简历</th>
        <th class="two wide">报名时间</th>
    </tr>
    </thead>
    <tbody>
    {% for i in info %}
    <tr>
        <td>{{i['id']}}</td>
        <td>{{i['name']}}</td>
        <td>{{i['sex']}}</td>
        <td>{{i['major']}}</td>
        <td>{{i['grade']}}</td>
        <td>{{i['area']}}</td>
        <td>{{i['phone']}}</td>
        <td>{{i['email']}}</td>
        <td>{{i['team']}}</td>

        <td>
            <div class="ui accordion">
                <div class="title"><i class="dropdown icon"></i> 详细信息</div>
                <div class="content">
                    <p class="transition hidden">{{i['intro']}}</p>
                </div>
            </div>
        </td>
        {% if i['resume']==0 %}
        <td class="negative"><i class="icon close"></i>无</td>
        {% else %}
        <td class="positive"><i class="icon checkmark"></i>有</td>
        {% endif %}
        <td>{{i['lasttime']}}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>



{% endblock %}
